body {
    margin: 0px;
    padding: 0px;
}

i {
    font-size: 20px;
    color: darkgrey;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    position: relative;
}

img {
    height: 20px;

}

.icons-center {
    margin: 0px 6px;
}

.icons-center :hover {
    cursor: pointer;
    text-decoration: underline;
    color: darkblue;
    transform: scale(1.2);
    transition: all ease 0.3s;
}

.end-icons {
    margin: 0px 6px;
}

.end-icons:hover {
    cursor: pointer;
    text-decoration: underline;
    color: darkblue;
    transform: scale(1.2);
    transition: all ease 0.3s;
}

img {
    margin-right: 17px;
}